.navigation-bar {
    border-bottom: 2px solid black;
    width: 100%;
    height: 85px;
    position: fixed;
    left: 0px;
    top: 0px;

    background-color: white;
}

#nav-heading {
    position: fixed;
    left: 5px;
    top: 15px;
}

#gen-flashcards {
    position: fixed;
    left: 120px;
    top: 40px;

    border-radius: 5px;
}

#gen-exampaper {
    position: fixed;
    left: 265px;
    top: 40px;

    border-radius: 5px;
}

#sign-out {
    position: fixed;
    right: 10px;
    top: 40px;

    border-radius: 5px;
}

#gen-flashcards:hover {
    position: fixed;
    left: 120px;
    top: 40px;

    border-radius: 5px;
    background-color: lightgray;
}

#gen-exampaper:hover {
    position: fixed;
    left: 265px;
    top: 40px;

    border-radius: 5px;
    background-color: lightgray;
}

#sign-out:hover {
    position: fixed;
    right: 10px;
    top: 40px;

    border-radius: 5px;
    background-color: lightgray;
}

.about-us-container {
    border-bottom: 2px solid black;
    width: 100%;
    height: 500px;

    position: fixed;
    top: 120px;
    left: 0px;

    background-color: white;
}

.about-us-container h3 {
    position: fixed;
    top: 140px;
    left: 46%;
}

.about-us-container p {
    position: fixed;
    top: 180px;
    left: 25%;
    max-width: 700px;
}